@import "../../shared/variables.scss";

.inputWrapper {
  margin: 1rem 0;
  label {
    display: block;
    margin: 0.5rem 0;
    color: $text;
    font-family: $regular;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: +0.5px;
  }
  input {
    width: calc(100% - 1rem);
    max-width: 24rem;
    height: 2.9375rem;
    background: #fafafa;
    border: 1px solid #e3e3e3;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    font-family: $regular;
    color: $text;
  }
  input:focus {
    background: $tertiary;
  }
}
