@import "../../shared/variables.scss";

.block {
    padding: .25rem;
}

.block:hover {
    background: #fafafa;
    outline-color: $tertiary;
}

.block:focus {
    background: $tertiary;
    outline-color: $tertiary;
}