@import "./variables.scss";

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $regular;
  font-size: 1rem;
  color: $text;
}

#__next {
  height: 100%;
}

#layoutRoot {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  justify-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}