@import "./variables.scss";

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $regular;
  font-size: 1rem;
  color: $text;
}

#__next {
  height: 100%;
}

#layoutRoot {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  justify-items: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

h3 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.125rem;
}

h4 {
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.125rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1.pageHeading {
  color: $primary;
  margin-bottom: 3rem;
}

form {
  button {
    width: auto;
    min-width: 9rem;
    height: 2.6rem;
    margin: 2rem 1rem 3rem 0;
    padding: 0 1rem;
    background: $secondary;
    color: $primary;
    border: none;
    border-radius: 0.5rem;
    color: $primary;
    font-family: $accent;
    font-size: 1rem;
    font-weight: 700;
  }
  button:first-of-type {
    background: $primary;
    color: #ffffff;
  }
  button:hover,
  button:focus {
    cursor: pointer;
  }
}
