// Colors
$primary: #0F2E53;
$secondary: #EDEDED;
$tertiary: #F5F6FB;
$text: #484848;

// Fonts
$accent: "Nunito Sans", Arial, sans-serif;
$regular: "Roboto", Arial, sans-serif;

// Sizes
$max-width: 720px;

// Breakpoints
